{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <br>
        {% if len_team_stats == 0 %}
            <h4>Boxscore does not have any data yet.</h4>
        {% else %}

        <div class="row">
            <div class="col-lg-5">
                <h3>{{ pretty_date }}</h3>
                <br>
                <table class="table table-sm">
                    <thead class="thead-inverse">
                        <tr class="bg-primary text-white">
                            <th class="text-lg-center">TEAM</th>
                            <th class="bg-primary text-lg-center">Q1</th>
                            <th class="bg-primary text-lg-center">Q2</th>
                            <th class="bg-primary text-lg-center">Q3</th>
                            <th class="bg-primary text-lg-center">Q4</th>
                            {% if boxscore_line_score["PTS_OT1"][0] %}
                                <th class="bg-primary text-lg-center">OT1</th>
                            {% endif %}
                            {% if boxscore_line_score["PTS_OT2"][0] %}
                                <th class="bg-primary text-lg-center">OT2</th>
                            {% endif %}
                            {% if boxscore_line_score["PTS_OT3"][0] %}
                                <th class="bg-primary text-lg-center">OT3</th>
                            {% endif %}
                            {% if boxscore_line_score["PTS_OT4"][0] %}
                                <th class="bg-primary text-lg-center">OT4</th>
                            {% endif %}
                            <th class="bg-primary text-lg-center">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in boxscore_line_score.index %}
                        {% if home_team == boxscore_line_score["TEAM_ABBREVIATION"][i] %}
                        <tr>
                            {% if boxscore_line_score["TEAM_ABBREVIATION"][i] == winning %}
                                <th class="text-lg-center">
                                    {% if home_team_logo %}
                                        <img class="team-logo-sm-quarter" src="/static/{{ home_team_logo }}">
                                    {% endif %} 
                                    {{ boxscore_line_score["TEAM_ABBREVIATION"][i] }}
                                </th>
                            {% else %}
                                <td class="text-lg-center">
                                    {% if home_team_logo %}
                                        <img class="team-logo-sm-quarter" src="/static/{{ home_team_logo }}">
                                    {% endif %} 
                                    {{ boxscore_line_score["TEAM_ABBREVIATION"][i] }}
                                </td>
                            {% endif %}
                            <td class="text-lg-center">{{ boxscore_line_score["PTS_QTR1"][i] }}</td>
                            <td class="text-lg-center">{{ boxscore_line_score["PTS_QTR2"][i] }}</td>
                            <td class="text-lg-center">{{ boxscore_line_score["PTS_QTR3"][i] }}</td>
                            <td class="text-lg-center">{{ boxscore_line_score["PTS_QTR4"][i] }}</td>
                            {% if boxscore_line_score["PTS_OT1"][i] %}
                                <td class="text-lg-center">{{ boxscore_line_score["PTS_OT1"][i] }}</td>
                            {% endif %}
                            {% if boxscore_line_score["PTS_OT2"][i] %}
                                <td class="text-lg-center">{{ boxscore_line_score["PTS_OT2"][i] }}</td>
                            {% endif %}
                            {% if boxscore_line_score["PTS_OT3"][i] %}
                                <td class="text-lg-center">{{ boxscore_line_score["PTS_OT3"][i] }}</td>
                            {% endif %}
                            {% if boxscore_line_score["PTS_OT4"][i] %}
                                <td class="text-lg-center">{{ boxscore_line_score["PTS_OT4"][i] }}</td>
                            {% endif %}
                            {% if boxscore_line_score["TEAM_ABBREVIATION"][i] == winning %}
                                <th class="text-lg-center">{{ boxscore_line_score["PTS"][i] }}</th>
                            {% else %}
                                <td class="text-lg-center">{{ boxscore_line_score["PTS"][i] }}</td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% for i in boxscore_line_score.index %}
                        {% if away_team == boxscore_line_score["TEAM_ABBREVIATION"][i] %}
                        <tr>
                            {% if boxscore_line_score["TEAM_ABBREVIATION"][i] == winning %}
                                <th class="text-lg-center">
                                    {% if away_team_logo %}
                                        <img class="team-logo-sm-quarter" src="/static/{{ away_team_logo }}">
                                    {% endif %} 
                                    {{ boxscore_line_score["TEAM_ABBREVIATION"][i] }}
                                </th>
                                {% else %}
                                <td class="text-lg-center">
                                    {% if away_team_logo %}
                                        <img class="team-logo-sm-quarter" src="/static/{{ away_team_logo }}">
                                    {% endif %} 
                                    {{ boxscore_line_score["TEAM_ABBREVIATION"][i] }}
                                </td>
                            {% endif %}
                            <td class="text-lg-center">{{ boxscore_line_score["PTS_QTR1"][i] }}</td>
                            <td class="text-lg-center">{{ boxscore_line_score["PTS_QTR2"][i] }}</td>
                            <td class="text-lg-center">{{ boxscore_line_score["PTS_QTR3"][i] }}</td>
                            <td class="text-lg-center">{{ boxscore_line_score["PTS_QTR4"][i] }}</td>
                            {% if boxscore_line_score["PTS_OT1"][i] %}
                                <td class="text-lg-center">{{ boxscore_line_score["PTS_OT1"][i] }}</td>
                            {% endif %}
                            {% if boxscore_line_score["PTS_OT2"][i] %}
                                <td class="text-lg-center">{{ boxscore_line_score["PTS_OT2"][i] }}</td>
                            {% endif %}
                            {% if boxscore_line_score["PTS_OT3"][i] %}
                                <td class="text-lg-center">{{ boxscore_line_score["PTS_OT3"][i] }}</td>
                            {% endif %}
                            {% if boxscore_line_score["PTS_OT4"][i] %}
                                <td class="text-lg-center">{{ boxscore_line_score["PTS_OT4"][i] }}</td>
                            {% endif %}
                            {% if boxscore_line_score["TEAM_ABBREVIATION"][i] == winning %}
                                <th class="text-lg-center">{{ boxscore_line_score["PTS"][i] }}</th>
                            {% else %}
                                <td class="text-lg-center">{{ boxscore_line_score["PTS"][i] }}</td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% if nba_recap %}
                    <a target="_blank" class="btn btn-secondary nounderline" href="{{ nba_recap }}"><i class="fa fa-play-circle" aria-hidden="true"></i> &nbsp;Watch NBA Recap</a>
                    <br></br>
                {% endif %}
                {% if full_match_url %}
                    &nbsp;<a target="_blank" class="btn btn-primary nounderline" href="{{ full_match_url }}"><i class="fa fa-video-camera" aria-hidden="true"></i> &nbsp;Watch Full Match</a>
                    <br>
                {% endif %}
            </div>
            <div class="col-lg-7">
                {% if post_game_thread %}
                    <br>
                    <blockquote class="reddit-card" data-card-preview="0"><a href="{{ post_game_thread[0] }}?ref=share&ref_source=embed">{{ post_game_thread[1] }}</a> from <a href="http://www.reddit.com/r/nba">nba</a></blockquote>
                    <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
                    <br></br>
                {% endif %}
            </div>
        </div>

        {% for i in range(len_team_stats) %}
        {% if home_team == team_stats["TEAM_ABBREVIATION"][i] %}
        {% set starters_title = True %}
        <table class="boxscores-datatable table table-sm">
            <h4><a class="nounderline dark-grey" href="/teams/{{ team_stats['TEAM_ID'][i] }}">
            {% if home_team_logo %}
                <img class="team-logo-sm-boxscore" src="/static/{{ home_team_logo }}">
            {% endif %} 
            {{ team_stats["TEAM_CITY"][i] }} {{ team_stats["TEAM_NAME"][i] }}</a>
            {% for j in boxscore_line_score.index %}
                {% if home_team == boxscore_line_score["TEAM_ABBREVIATION"][j] %}
                    ({{ boxscore_line_score["TEAM_WINS_LOSSES"][j] }})
                {% endif %}
            {% endfor %}
            </h4>
            <thead class="thead-inverse">
                <tr class="bg-primary text-white">
                    <th class="text-lg-center">PLAYER</th>
                    <th class="bg-primary text-lg-center">MIN</th>
                    <th class="bg-primary">PTS</th>
                    <th class="bg-primary">REB</th>
                    <th class="bg-primary">AST</th>
                    <th class="bg-primary boxscore-column-width">FG</th>
                    <th class="bg-primary">FG%</th>
                    <th class="bg-primary boxscore-column-width">3P</th>
                    <th class="bg-primary">3P%</th>
                    <th class="bg-primary boxscore-column-width">FT</th>
                    <th class="bg-primary">FT%</th>
                    <th class="bg-primary">OREB</th>
                    <th class="bg-primary">DREB</th>
                    <th class="bg-primary">STL</th>
                    <th class="bg-primary">BLK</th>
                    <th class="bg-primary">TOV</th>
                    <th class="bg-primary">PF</th>
                    <th class="bg-primary">+/-</th>
                </tr>
            </thead>
            <tbody>
            {% for j in range(len_player_stats) %}
            {% if player_stats["TEAM_ABBREVIATION"][j] == team_stats["TEAM_ABBREVIATION"][i] %}
            {% if i == 0 and num_starters == 5 and starters_title %}
                <!-- <td colspan="18"><b>STARTERS</b></td> -->
                {% set starters_title = False %}
            {% endif %}
            {% if i == 1 and num_starters == 5 and starters_title %}
                <!-- <td colspan="18"><b>STARTERS</b></td> -->
                {% set starters_title = False %}
            {% endif %}
            {% if num_starters == 0 %}
                <!-- <td colspan="18"><b>BENCH</b></td> -->
                {% set num_starters = num_starters - 1 %}
            {% endif %}
            <tr>
                {% if not player_stats["COMMENT"][j] %}
                <th><a class="nounderline" href="/players/{{ player_stats['PLAYER_ID'][j] }}">{{ player_stats["PLAYER_NAME"][j] }} 
                </a>
                {% if player_stats["START_POSITION"][j] %}
                    {{ player_stats["START_POSITION"][j] }}
                    {% set num_starters = num_starters - 1 %}
                {% endif %}
                </th>
                <td class="text-lg-center">{{ player_stats["MIN"][j] }}</td>
                <td>{{ player_stats["PTS"][j] }}</td>
                <td>{{ player_stats["REB"][j] }}</td>
                <td>{{ player_stats["AST"][j] }}</td>
                <td>{{ player_stats["FGM"][j] }}-{{ player_stats["FGA"][j] }}</td>
                {% if player_stats["FG_PCT"][j] %}
                <td>{{'%0.2f'|format(player_stats["FG_PCT"][j] * 100|float)}}</td>
                {% else %}
                <td>{{ player_stats["FG_PCT"][j] }}</td>
                {% endif %}
                <td>{{ player_stats["FG3M"][j] }}-{{ player_stats["FG3A"][j] }}</td>
                {% if player_stats["FG3_PCT"][j] %}
                <td>{{'%0.2f'| format(player_stats["FG3_PCT"][j] * 100|float)}}</td>
                {% else %}
                <td>{{ player_stats["FG3_PCT"][j] }}</td>
                {% endif %}
                <td>{{ player_stats["FTM"][j] }}-{{ player_stats["FTA"][j] }}</td>
                {% if player_stats["FT_PCT"][j] %}
                <td>{{ '%0.2f'|format(player_stats["FT_PCT"][j] * 100|float)}}</td>
                {% else %}
                <td>{{ player_stats["FT_PCT"][j] }}</td>
                {% endif %}
                <td>{{ player_stats["OREB"][j] }}</td>
                <td>{{ player_stats["DREB"][j] }}</td>
                <td>{{ player_stats["STL"][j] }}</td>
                <td>{{ player_stats["BLK"][j] }}</td>
                <td>{{ player_stats["TO"][j] }}</td>
                <td>{{ player_stats["PF"][j] }}</td>
                <td>{{ player_stats["PLUS_MINUS"][j] }}</td>
                {% else %}
                <th><a class="nounderline" href="/players/{{ player_stats['PLAYER_ID'][j] }}">{{ player_stats["PLAYER_NAME"][j] }} 
                </a>
                <br>
                {{ player_stats["COMMENT"][j] }}
                </th>
                <td class="text-lg-center">00:00</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0-0</td>
                <td>0.0</td>
                <td>0-0</td>
                <td>0.0</td>
                <td>0-0</td>
                <td>0.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0.0</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
            <tfoot>
            <tr>
                <th>TEAM</th> 
                <td class="text-lg-center">{{ team_stats["MIN"][i] }}</td>
                {% if team_stats["TEAM_ABBREVIATION"][i] == winning %}
                    <th>{{ team_stats["PTS"][i] }}</th>
                {% else %}
                    <td>{{ team_stats["PTS"][i] }}</td>
                {% endif %}
                <td>{{ team_stats["REB"][i] }}</td>
                <td>{{ team_stats["AST"][i] }}</td>
                <td class="boxscore-column-width">{{ team_stats["FGM"][i] }}-{{ team_stats["FGA"][i] }}</td>
                {% if team_stats["FG_PCT"][i] %}
                <td>{{ '%0.2f'|format(team_stats["FG_PCT"][i] * 100|float) }}</td>
                {% else %}
                <td>{{ team_stats["FG_PCT"][i] }}</td>
                {% endif %}
                <td>{{ team_stats["FG3M"][i] }}-{{ team_stats["FG3A"][i] }}</td>
                {% if team_stats["FG3_PCT"][i] %}
                <td>{{ '%0.2f'|format(team_stats["FG3_PCT"][i] * 100|float) }}</td>
                {% else %}
                <td>{{ team_stats["FG3_PCT"][i] }}</td>
                {% endif %}
                <td>{{ team_stats["FTM"][i] }}-{{ team_stats["FTA"][i] }}</td>
                {% if team_stats["FT_PCT"][i] %}
                <td>{{ '%0.2f'|format(team_stats["FT_PCT"][i] * 100|float) }}</td>
                {% else %}
                <td>{{ team_stats["FT_PCT"][i] }}</td>
                {% endif %}
                <td>{{ team_stats["OREB"][i] }}</td>
                <td>{{ team_stats["DREB"][i] }}</td>
                <td>{{ team_stats["STL"][i] }}</td>
                <td>{{ team_stats["BLK"][i] }}</td>
                <td>{{ team_stats["TO"][i] }}</td>
                <td>{{ team_stats["PF"][i] }}</td>
                <td>{{ team_stats["PLUS_MINUS"][i] }}</td>
            </tr>
            </tfoot>
            </tbody>
        </table>
        <br>
        {% endif %}
        {% endfor %}

        {% for i in range(len_team_stats) %}
        {% if away_team == team_stats["TEAM_ABBREVIATION"][i] %}
        {% set starters_title = True %}
        <table class="boxscores-datatable table table-sm">
            <h4><a class="nounderline dark-grey" href="/teams/{{ team_stats['TEAM_ID'][i] }}">
            {% if away_team_logo %}
                <img class="team-logo-sm-boxscore" src="/static/{{ away_team_logo }}">
            {% endif %}
            {{ team_stats["TEAM_CITY"][i] }} {{ team_stats["TEAM_NAME"][i] }}</a>
            {% for j in boxscore_line_score.index %}
                {% if away_team == boxscore_line_score["TEAM_ABBREVIATION"][j] %}
                    ({{ boxscore_line_score["TEAM_WINS_LOSSES"][j] }})
                {% endif %}
            {% endfor %}
            </h4>
            <thead class="thead-inverse">
                <tr class="bg-primary text-white">
                    <th class="text-lg-center">PLAYER</th>
                    <th class="bg-primary text-lg-center">MIN</th>
                    <th class="bg-primary">PTS</th>
                    <th class="bg-primary">REB</th>
                    <th class="bg-primary">AST</th>
                    <th class="bg-primary boxscore-column-width">FG</th>
                    <th class="bg-primary">FG%</th>
                    <th class="bg-primary boxscore-column-width">3P</th>
                    <th class="bg-primary">3P%</th>
                    <th class="bg-primary boxscore-column-width">FT</th>
                    <th class="bg-primary">FT%</th>
                    <th class="bg-primary">OREB</th>
                    <th class="bg-primary">DREB</th>
                    <th class="bg-primary">STL</th>
                    <th class="bg-primary">BLK</th>
                    <th class="bg-primary">TOV</th>
                    <th class="bg-primary">PF</th>
                    <th class="bg-primary">+/-</th>
                </tr>
            </thead>
            <tbody>
            {% for j in range(len_player_stats) %}
            {% if player_stats["TEAM_ABBREVIATION"][j] == team_stats["TEAM_ABBREVIATION"][i] %}
            {% if i == 0 and num_starters == 5 and starters_title %}
                <!-- <td colspan="18"><b>STARTERS</b></td> -->
                {% set starters_title = False %}
            {% endif %}
            {% if i == 1 and num_starters == 5 and starters_title %}
                <!-- <td colspan="18"><b>STARTERS</b></td> -->
                {% set starters_title = False %}
            {% endif %}
            {% if num_starters == 0 %}
                <!-- <td colspan="18"><b>BENCH</b></td> -->
                {% set num_starters = num_starters - 1 %}
            {% endif %}
            <tr>
                {% if not player_stats["COMMENT"][j] %}
                <th><a class="nounderline" href="/players/{{ player_stats['PLAYER_ID'][j] }}">{{ player_stats["PLAYER_NAME"][j] }} 
                </a>
                {% if player_stats["START_POSITION"][j] %}
                    {{ player_stats["START_POSITION"][j] }}
                    {% set num_starters = num_starters - 1 %}
                {% endif %}
                </th>
                <td class="text-lg-center">{{ player_stats["MIN"][j] }}</td>
                <td>{{ player_stats["PTS"][j] }}</td>
                <td>{{ player_stats["REB"][j] }}</td>
                <td>{{ player_stats["AST"][j] }}</td>
                <td>{{ player_stats["FGM"][j] }}-{{ player_stats["FGA"][j] }}</td>
                {% if player_stats["FG_PCT"][j] %}
                <td>{{'%0.2f'|format(player_stats["FG_PCT"][j] * 100|float) }}</td>
                {% else %}
                <td>{{ player_stats["FG_PCT"][j] }}</td>
                {% endif %}
                <td>{{ player_stats["FG3M"][j] }}-{{ player_stats["FG3A"][j] }}</td>
                {% if player_stats["FG3_PCT"][j] %}
                <td>{{'%0.2f'|format(player_stats["FG3_PCT"][j] * 100|float) }}</td>
                {% else %}
                <td>{{ player_stats["FG3_PCT"][j] }}</td>
                {% endif %}
                <td>{{ player_stats["FTM"][j] }}-{{ player_stats["FTA"][j] }}</td>
                {% if player_stats["FT_PCT"][j] %}
                <td>{{'%0.2f'|format(player_stats["FT_PCT"][j] * 100|float)}}</td>
                {% else %}
                <td>{{ player_stats["FT_PCT"][j] }}</td>
                {% endif %}
                <td>{{ player_stats["OREB"][j] }}</td>
                <td>{{ player_stats["DREB"][j] }}</td>
                <td>{{ player_stats["STL"][j] }}</td>
                <td>{{ player_stats["BLK"][j] }}</td>
                <td>{{ player_stats["TO"][j] }}</td>
                <td>{{ player_stats["PF"][j] }}</td>
                <td>{{ player_stats["PLUS_MINUS"][j] }}</td>
                {% else %}
                <th><a class="nounderline" href="/players/{{ player_stats['PLAYER_ID'][j] }}">{{ player_stats["PLAYER_NAME"][j] }} 
                </a>
                <br>
                {{ player_stats["COMMENT"][j] }}
                </th>
                <td class="text-lg-center">00:00</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0-0</td>
                <td>0.0</td>
                <td>0-0</td>
                <td>0.0</td>
                <td>0-0</td>
                <td>0.0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0.0</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
            <tfoot>
            <tr>
                <th>TEAM</th> 
                <td class="text-lg-center">{{ team_stats["MIN"][i] }}</td>
                {% if team_stats["TEAM_ABBREVIATION"][i] == winning %}
                    <th>{{ team_stats["PTS"][i] }}</th>
                {% else %}
                    <td>{{ team_stats["PTS"][i] }}</td>
                {% endif %}
                <td>{{ team_stats["REB"][i] }}</td>
                <td>{{ team_stats["AST"][i] }}</td>
                <td class="boxscore-column-width">{{ team_stats["FGM"][i] }}-{{ team_stats["FGA"][i] }}</td>
                {% if team_stats["FG_PCT"][i] %}
                <td>{{'%0.2f'|format(team_stats["FG_PCT"][i] * 100|float)}}</td>
                {% else %}
                <td>{{ team_stats["FG_PCT"][i] }}</td>
                {% endif %}
                <td>{{ team_stats["FG3M"][i] }}-{{ team_stats["FG3A"][i] }}</td>
                {% if team_stats["FG3_PCT"][i] %}
                <td>{{'%0.2f'|format(team_stats["FG3_PCT"][i] * 100|float)}}</td>
                {% else %}
                <td>{{ team_stats["FG3_PCT"][i] }}</td>
                {% endif %}
                <td>{{ team_stats["FTM"][i] }}-{{ team_stats["FTA"][i] }}</td>
                {% if team_stats["FT_PCT"][i] %}
                <td>{{ '%0.2f'|format(team_stats["FT_PCT"][i] * 100|float) }}</td>
                {% else %}
                <td>{{ team_stats["FT_PCT"][i] }}</td>
                {% endif %}
                <td>{{ team_stats["OREB"][i] }}</td>
                <td>{{ team_stats["DREB"][i] }}</td>
                <td>{{ team_stats["STL"][i] }}</td>
                <td>{{ team_stats["BLK"][i] }}</td>
                <td>{{ team_stats["TO"][i] }}</td>
                <td>{{ team_stats["PF"][i] }}</td>
                <td>{{ team_stats["PLUS_MINUS"][i] }}</td>
            </tr>
            </tfoot>
            </tbody>
        </table>
        <br>
        {% endif %}
        {% endfor %}
    {% endif %}

    <br>
    <div class="row">
        {% if inactive_players.empty %}
        <div class="col-lg-6">
            <h4>Inactive Players</h4>
            <table class="table table-sm">
                <thead class="thead-inverse">
                    <tr class="bg-danger text-white">
                        <th class="text-lg-center">NAME</th>
                        <th class="bg-danger text-lg-center">TEAM</th>
                        <th class="bg-danger text-lg-center">JERSEY NUMBER</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in inactive_players.index %}
                    <tr>
                        <th><a class="nounderline dark-grey" href="/players/{{ inactive_players['PLAYER_ID'][i] }}">{{ inactive_players["FIRST_NAME"][i] }} {{ inactive_players["LAST_NAME"][i] }}</a></th>
                        <td class="text-lg-center">{{ inactive_players["TEAM_ABBREVIATION"][i] }}</td>
                        <td class="text-lg-center">{{ inactive_players["JERSEY_NUM"][i] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if officials.empty %}
        <div class="col-lg-5 offset-lg-1">
            <h4>Officials</h4>
            <table class="table table-sm">
                <thead class="thead-inverse">
                    <tr class="bg-danger text-white">
                        <th class="text-lg-center">NAME</th>
                        <th class="bg-danger text-lg-center">JERSEY NUMBER</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in officials.index %}
                    <tr>
                        {% if officials["FIRST_NAME"][i] == "Matt" and officials["LAST_NAME"][i] == "Boland" %}
                            <th><a class="nounderline dark-grey" href="http://www.nbra.net/nba-officials/referee-biographies/Matthew-{{ officials['LAST_NAME'][i] }}">{{ officials["FIRST_NAME"][i] }} {{ officials["LAST_NAME"][i] }}</a></th>
                        {% else %}
                            <th><a class="nounderline dark-grey" href="http://www.nbra.net/nba-officials/referee-biographies/{{ officials['FIRST_NAME'][i] }}-{{ officials['LAST_NAME'][i] }}">{{ officials['FIRST_NAME'][i] }} {{ officials['LAST_NAME'][i] }}</a></th>
                        {% endif %}
                        <td class="text-lg-center">{{ officials["JERSEY_NUM"][i] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <br>

    {% if youtube_url %}
    <div class="row">
        <div class="col-lg-12">
            <br>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ youtube_url }}"></iframe>
            </div>
            <br></br>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}