{% extends "layout.html" %}
{% block body %}
<body>
    <br><br>
    <div class="container">
        <div style="margin-left: 81px;">
            <form id="dateform" action="/scores" method="POST" class="form-inline text-lg-center">
                <a href="/scores/{{ yesterday }}" class="btn btn-primary btn-mds"><i class="fa fa-caret-left" aria-hidden="true"></i></a> &nbsp;
                <input type="text" name="date" id="datepicker" class="form-control form-control-lg" style="font-family:Helvetica, FontAwesome" placeholder="&#xf073; &nbsp;{{ pretty_date_today }}">
                &nbsp; <a href="/scores/{{ tomorrow }}" class="btn btn-primary btn-md"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
            </form>
        </div>
        <table class="table table-hover table-responsive-sm" style="width: 50%;">  
            <tbody>
                {% for game in games %}
                <tr>
                    <td style="text-align: center;">
                        <img class="team-logo" src="/static/images/{{ game['TEAM_1_ABBREVIATION'].lower() }}.png">
                        {{ game["TEAM_1_ABBREVIATION"] }} {{ game["TEAM_1_PTS"] }}
                        <br>
                        {{ game["TEAM_1_WINS_LOSSES"] }}
                    </td>
                    <td class="final-text" style="text-align: center;">
                        <span>{{ game["GAME_STATUS_TEXT"] }}</span>
                        <!-- <br>
                        {{ game["NATL_TV_BROADCASTER_ABBREVIATION"] }} -->
                    </td>
                    <td style="text-align: center;">
                        <img class="team-logo" src="/static/images/{{ game['TEAM_2_ABBREVIATION'].lower() }}.png">
                        {{ game["TEAM_2_ABBREVIATION"] }} {{ game["TEAM_2_PTS"] }}
                        <br>
                        {{ game["TEAM_2_WINS_LOSSES"] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
{% endblock %}