{% extends "layout.html" %}
{% block body %}
    <br><br>
    <div class="container">
        <div style="margin-left: 81px;">
            <form id="dateform" action="/scores" method="POST" class="form-inline text-lg-center">
                <a href="/scores/{{ yesterday }}" class="btn btn-primary btn-mds"><i class="fa fa-caret-left" aria-hidden="true"></i></a> &nbsp;
                <input type="text" name="date" id="datepicker" class="form-control form-control-lg" style="font-family:Helvetica, FontAwesome" placeholder="&#xf073; &nbsp;{{ pretty_date_today }}">
                &nbsp; <a href="/scores/{{ tomorrow }}" class="btn btn-primary btn-md"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
            </form>
        </div>
        <table class="table table-hover table-responsive-sm" style="width: 50%;"> 
            <tbody>
                {% for game in games %}
                    {% if(winners[loop.index-1] == game["TEAM_1_ABBREVIATION"]) %}
                        <tr>
                            <td class="final-text" style="text-align: center;">
                                <a href="/boxscores/{{ game['GAME_ID'] }}">
                                    <img class="team-logo" src="/static/images/{{ game['TEAM_1_ABBREVIATION'].lower() }}.png">
                                    {{ game["TEAM_1_ABBREVIATION"] }} {{ game["TEAM_1_PTS"]|int if game["TEAM_1_PTS"]|int else "" }}
                                    <br>
                                    {{ game["TEAM_1_WINS_LOSSES"] }}
                                </a>
                            </td>
                            <td class="final-text" style="text-align: center;">
                                <a href="/boxscores/{{ game['GAME_ID'] }}"><span>{{ game["GAME_STATUS_TEXT"] }}</span></a>
                            </td>
                            <td style="text-align: center;">
                                <a href="/boxscores/{{ game['GAME_ID'] }}">
                                    <img class="team-logo" src="/static/images/{{ game['TEAM_2_ABBREVIATION'].lower() }}.png">
                                    {{ game["TEAM_2_ABBREVIATION"] }} {{ game["TEAM_2_PTS"]|int if game["TEAM_2_PTS"]|int else "" }}
                                    <br>
                                    {{ game["TEAM_2_WINS_LOSSES"] }}
                                </a>
                            </td>
                        </tr>
                    {% elif(winners[loop.index-1] == game["TEAM_2_ABBREVIATION"]) %}
                        <tr>
                            <td style="text-align: center;">
                                <a href="/boxscores/{{ game['GAME_ID'] }}">
                                    <img class="team-logo" src="/static/images/{{ game['TEAM_1_ABBREVIATION'].lower() }}.png">
                                    {{ game["TEAM_1_ABBREVIATION"] }} {{ game["TEAM_1_PTS"]|int if game["TEAM_1_PTS"]|int else "" }}
                                    <br>
                                    {{ game["TEAM_1_WINS_LOSSES"] }}
                                </a>
                            </td>
                            <td class="final-text" style="text-align: center;">
                                <a href="/boxscores/{{ game['GAME_ID'] }}"><span>{{ game["GAME_STATUS_TEXT"] }}</span></a>
                            </td>
                            <td class="final-text" style="text-align: center;">
                                <a href="/boxscores/{{ game['GAME_ID'] }}">
                                    <img class="team-logo" src="/static/images/{{ game['TEAM_2_ABBREVIATION'].lower() }}.png">
                                    {{ game["TEAM_2_ABBREVIATION"] }} {{ game["TEAM_2_PTS"]|int if game["TEAM_2_PTS"]|int else "" }}
                                    <br>
                                    {{ game["TEAM_2_WINS_LOSSES"] }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td style="text-align: center;">
                                <a href="/boxscores/{{ game['GAME_ID'] }}">
                                    <img class="team-logo" src="/static/images/{{ game['TEAM_1_ABBREVIATION'].lower() }}.png">
                                    {{ game["TEAM_1_ABBREVIATION"] }} {{ game["TEAM_1_PTS"]|int if game["TEAM_1_PTS"]|int else "" }}
                                    <br>
                                    {{ game["TEAM_1_WINS_LOSSES"] }}
                                </a>
                            </td>
                            <td class="final-text" style="text-align: center;">
                                <a href="/boxscores/{{ game['GAME_ID'] }}"><span>{{ game["GAME_STATUS_TEXT"] }}</span></a>
                            </td>
                            <td style="text-align: center;">
                                <a href="/boxscores/{{ game['GAME_ID'] }}">
                                    <img class="team-logo" src="/static/images/{{ game['TEAM_2_ABBREVIATION'].lower() }}.png">
                                    {{ game["TEAM_2_ABBREVIATION"] }} {{ game["TEAM_2_PTS"]|int if game["TEAM_2_PTS"]|int else "" }}
                                    <br>
                                    {{ game["TEAM_2_WINS_LOSSES"] }}
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}