{% extends "layout.html" %}
{% block body %}
<body>
    <br><br>
    <div class="container ">
        <h3>{{ pretty_date_today }}</h3>
        <div class="row">
            <div class="col-lg-5 d-flex justify-content-around">
                <div class="list-group">
                    {% for game in games %}
                        <a class="score-size text-xs-center nounderline list-group-item list-group-item-action" href="/boxscores/{{ game['GAME_ID'] }}">
                        <div class="row d-flex justify-content-around">
                            <div class="col-xs-4 d-flex justify-content-around left-team">
                                <img class="team-logo" src="/static/images/{{ game['TEAM_1_ABBREVIATION'].lower() }}.png">
                                {{ game["TEAM_1_ABBREVIATION"] }} {{ game["TEAM_1_PTS"] }}
                                <br>
                                {{ game["TEAM_1_WINS_LOSSES"] }}
                            </div>
                            <div class="col-xs-4 broadcast-column final-text status-of-game d-flex justify-content-around">
                                &nbsp;
                                {{ game["GAME_STATUS_TEXT"] }}
                                &nbsp;
                            </div>
                            <div class="col-xs-4 right-team">
                                {{ game["TEAM_2_ABBREVIATION"] }} {{ game["TEAM_2_PTS"] }}
                                <img class="team-logo" src="/static/images/{{ game['TEAM_2_ABBREVIATION'].lower() }}.png">
                                <br>
                                {{ game["TEAM_2_WINS_LOSSES"] }}
                            </div>
                        </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>

</body>
{% endblock %}